h1 {
  color: #0394e9;
  display: block;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  unicode-bidi: isolate;
}

.menu-button {
  background-color:#0394e9 ;
  color: white;
  border: none; 
  padding: 10px 20px;
  cursor: pointer; 
  margin-right: 10px;
}

body{
  background-color: rgb(255, 255, 255);
}

th {
  padding: 10px;
}

table, th, td {
  text-align: center;
  background-color: #47afeb;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  border: 1px solid #ffffff;
  border-collapse: collapse;
}


.tableHeaderEmployeeNo {
  background-color: #0394e9;
  font-size: 20px;
  width: 105px; 
}
.tableHeaderName {
  background-color: #0394e9;
  font-size: 25px;
  width: 132px;
}
.tableHeaderContact {
  background-color: #0394e9;
  font-size: 25px;
  width: 140px;
}
.tableHeaderAddress {
  background-color: #0394e9;
  font-size: 25px;
  width: 450px;
}
.tableHeaderDesignation {
  background-color: #0394e9;
  font-size: 25px;
}
.tableHeaderEmployeeType{
  background-color: #0394e9;
  font-size: 25px;
  width: 159.1px;
}
.tableHeaderDepartment {
  background-color: #0394e9;
  font-size: 25px;
  width: 164px;
}
.tableHeaderActions {
  background-color: #0394e9;
  font-size: 25px;
  width: 221px;
}

.tableBody tr td {
  padding: 10px;
}
.employeeNumber{  
  width: 105px;
}
.employeeName{
  width: 132px;
}
.employeeContactInfo{  
  width: 140px;
}
.employeeAddress{
  width: 450px;
}
.employeeDesignation{
  width: 132px;
}
.employeeType{
  width: 159px;
}
.employeeDepartment{
  width: 164px;
}
.employeeSalary{
  width: 164px;
}
.default-button {
  height: 30px;
  padding: 0px 6px;
}
.edit-delete-buttons{
  width: 221px;
}

.blue-button {
  margin-top: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #3044ff;
  color: white;
  border: 2px solid #47afeb;
  transition-duration: 250ms;
}

.blue-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #eb6500;
}

.table-button-container {
  display: flex;
  margin: 0;
  margin-top: 40px;
}

.default-container {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 0;
}

.button-container {
  margin-top: 20px;
  position: relative;
  right: 0;
}

.add-employee-container {
  text-align: center;
  background-color: #47afeb;
  color: white;
  padding: 10px;
  margin-top: 50px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px; 
}
.add-employee-container div {
  display: flex;
  align-items: center; /* Align input fields vertically */
}
.add-employee-container div p {
  margin-right: 10px; /* Add space between label and input */
}


.add-employee-container-button{
  background-color: palevioletred;
}

.add-employee-container h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex {
  display: flex;
  column-gap: 20px;
}

.left-align {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

.edit-button{
  width: 130px;
  padding: 10px;
  margin: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #47afeb;
  color: white;
  border: 2px solid limegreen;
  transition-duration: 250ms;
}

.edit-button:hover{
  cursor: pointer;
  background-color: limegreen;
  color: white;
  border: 2px solid white;
}


.delete-button {
  padding: 10px;
  margin: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #47afeb;
  color: white;
  border: 2px solid #e04747;
  transition-duration: 250ms;
}

.delete-button:hover{
    cursor: pointer;
    background-color: #e04747;
    color: white;
    border: 2px solid #eb6500;
}

.requestLeaveButton{
  width: 100px;
  background-color: #0394e9;
}

.add-button-container{
  width: 10%;
}

.addNewEmployee{
  background-color: #0394e9;
}

.flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 1rem;
}

.flex > div:nth-child(n+4) {
  grid-column: span 2;
}

tr {
  display: table-row;
  background-color: #e04747;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

.pEmployeeNumber{
  margin-left: 0px;
  width: 150px;
}
.pEmployeeName{
  margin-left: 0px;
  width: 150px;
}
.pEmployeeDate{
  margin-left: 0px;
  width: 150px;
}
.pEmployeePayroll{
  margin-left: 0px;
  width: 150px;
}
.pEmployeeAdditional{
  margin-left: 0px;
  width: 150px;
}
.pEmployeeDeductions{
  margin-left: 0px;
  width: 150px;
}
.pEmployeeNet{
  margin-left: 0px;
  width: 150px;
}

th {
  padding: 10px;
  width: 132px;
}